/*
Project Name: Aurora's Simple Recipes
Client: Me
Author: Matthew O'Reilly
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #043049;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #f0efef;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 100%;
  margin: 0 auto;
  color: beige;
}

.header{
  background: url(../images/header2.jpg);
  height: 270px;
  background-position: 50% 80%;
  background-size: cover;
  opacity: .75;
  border-bottom: 4px solid white;
  text-align: center;
}
.mobile{
  display: none;
}
header div h1{
  color: white;
  font-size: 1.9em;
  font-weight: 800;
  font-style: italic;
  font-kerning: auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header img{
  border-radius: 50%;
  opacity: 1;
  margin-top: -5px
}

header p{
  font-size: .85em;
  color: white;
  font-weight: 800;
  font-style: italic;
  margin-top: -8px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#sub-form{
  text-align: center;
  background: #676;
  border-bottom: 3px solid white;
  padding-bottom: 6px;
  padding-top: 4px;
}

form label{
  color: white;
  text-align: bottom;
  line-height: 1;
  font-weight: 800;
  padding-right: 22px;
  margin: 0;
  box-sizing: normal;
  width: 50%;
  height: 50px;
}

#sub-list{
  width: 20%;
  font-style: italic;
  font-weight: lighter;
  color: gray;
}

#subscribe{
  background: maroon;
  color: white;
  height: 30px;
  width: 12%;
  font-weight: 800;
  font-size: .5em;
}

#subscribe:hover{
  background:white;
  color:red;
  cursor: pointer;
}

nav{
  background: black;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

nav ul{
  list-style-type: none;
  font-size: .65em;
}

nav ul li{
  display: inline-block;
  padding-right: 5%;
  position: relative;
}

nav ul li:first-child{
  padding-right: 30%;
  padding-left: 2%;
}

nav a{
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav a:active{
  color: beige;
}

nav ul li ul{
  position: absolute;
  font-size: 1em;
  width: 100%;
  padding: 5px;
  background: black;
}

nav ul li ul li{
  display: block;
  position: relative;
  padding: 5px;
}

ul .dropmenu{
  display: none;
}

ul .dropmenu:hover{
  display: inline-block;
}


#main {
  background: beige;
  height: 1100px;
  padding-top: 30px;
}

#posts {
  float: left;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
#side {
  float: left;
  width: 35%;
  display: inline-block;
  border-left: 4px solid white;
}
article h1{
  padding-bottom: 30px;
  color: black;
  font-size: 1em;
  padding-left: 32.5%;
}
article h2{
   padding-bottom: 10px;
   padding-left: 7%;
}

article img{
  padding-left: 14%;
}

article h2 a{
  color: black;
  font-size: 1em;
  font-style: italic;
}

article p{
  font-size: .4em;
  color: black;
  padding-left: 14%;
  padding-right: 20%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.clicktoarticle{
  font-size: .5em;
  background: black;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-left: 66%;
}

article h3{
  font-size: 20px;
  color: black;
  font-style: italic;
  padding: 2%;
}

article ol li{
  padding: 2%;
  font-size: .45em;
  color: black;
}

aside article img{
  padding-left: 5%;
}

aside article h2{
  padding-left: 40%;
  font-style: normal;
}

aside article h3{
  padding-left: 10%;
}

aside article img{
  padding-left: 10%;
}

#references{
  background: white;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
  text-align: center;
  border-top: 3px solid black;
}

#references p{
  color: black;
  font-size: .7em;
  font-style: italic;
  font-weight: lighter;
}

footer{
  background: black;
  color: white;
  text-align: center;
}

footer #Matt{
  float: left;
  width: 50%;
  background: black;
  color: white;
}

footer #Aurora{
  float: left;
  width: 50%;
  background: black;
  color: white;
}

#form-container{
  background: beige;
  text-align: center;
}

#settings-form fieldset legend{
  color: black;
  font-weight: 600;
  padding-bottom: 2%;
  padding-top: 1%;
  font-size: 1.2em;
}

#settings-form label{
  color: black;
  font-weight: 300;
  padding-bottom: 1.2%;
  font-size: .8em;
}

#reason{
  padding: 3%;
  text-align: center;
}

.gender{
  text-decoration: underline;
}

@media screen and (max-width: 1270px) and (min-width: 1000px){

#page-header a {
  font-size: .60em
}

#page-header nav {;
  padding-left: 15%;
}
}

@media screen and (max-width: 1000px) and (min-width: 768px){

#page-header a {
  font-size: .55em
}

#page-header nav {;
  padding-left: 7%;
}
header p{
  font-size: .6em;
}
}

@media screen and (max-width: 768px){

.header{
  height: 250px;
  background-position: 50% 80%;
}

header div h1{
  font-size: 1.3em;
  margin-top: -7px;
}

header img{
  margin-top: -9px;
}

header p{
  font-size: .6em;
  margin-top: -9px;
}

form label{
  font-size: 70%;
}

#page-header {
  font-size: .55em
}


#subscribe{
  width: 70%;
  font-size:70%;
}
#main{
  height: 1350px;
}
#posts {
  width: 100%;
  border-bottom: 3px black;
  padding-bottom: 15px;
}
#side {
  width: 100%;
  border-left: none;
}
.hide{
  display: none;
}
article h1{
  padding-bottom: 10px;
  font-size: .85em;
  padding-left: 33%;
}
article h2{
  font-size: .8em;
}

article img{
  padding-left: 14%;
}

article p{
  display: none;
}


article ol li{
  padding: .5%;
  font-size: .55em;
}

aside article img{
  padding-left: 5%;
}

aside article h2{
  padding-left: 40%;
  font-style: normal;
}

aside article h3{
  padding-left: 10%;
}

aside article img{
  padding-left: 10%;
}
}

